:root {
  font-family: "PingFang SC", "SF Pro Text", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Microsoft YaHei", "Noto Sans SC", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* 允许输入框和文本域选中 */
input, textarea, [contenteditable="true"] {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "PingFang SC", "SF Pro Text", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Microsoft YaHei", "Noto Sans SC", sans-serif;
}

#root {
  height: 100vh;
}
